# 1 Manipulate using a list

In [1]:
lst = [20,50,'prakash','mphasis']
lst

[20, 50, 'prakash', 'mphasis']

In [2]:
lst.append(36) #Adding the new element
lst

[20, 50, 'prakash', 'mphasis', 36]

In [5]:
lst.reverse() #Reverse the list
lst

[36, 'mphasis', 'prakash', 50, 20]

In [6]:
lst*2 # list of elements multiple times

[36, 'mphasis', 'prakash', 50, 20, 36, 'mphasis', 'prakash', 50, 20]

In [12]:
lst2 = [30,60,70,10,2] #concatenate two lists
final_lst = lst + lst2
final_lst

[36, 'mphasis', 'prakash', 50, 20, 30, 60, 70, 10, 2]

In [14]:
lst2.sort() # sorting the elements in the lsit
lst2

[2, 10, 30, 60, 70]

# 2 Write a program to do in the Tuples

In [16]:
tup = (10,20,'praksh',48) # tuple was created
type(tup)

tuple

In [21]:
lst1 = [20,50,601,46,34,'praksh'] #manipulating the tuple 
my_tuple = tuple(lst1)
print(my_tuple)

(20, 50, 601, 46, 34, 'praksh')

In [44]:
lst1.reverse()
my_tuple= tuple(lst1)
my_tuple

('praksh', 34, 46, 601, 50, 20)

In [61]:
lst_new = [10,'prakas',56,78,43,2]#Display multiple times
n = lst_new*2
new_Tuple=tuple(n)
new_Tuple

(10, 'prakas', 56, 78, 43, 2, 10, 'prakas', 56, 78, 43, 2)

In [65]:
List1= [10,4,80,67,89,43,2] #concatenate two tuples
np = List1 + lst_new
my_Tuple = tuple(np)
my_Tuple

(10, 4, 80, 67, 89, 43, 2, 10, 'prakas', 56, 78, 43, 2)

In [68]:
List1.sort() #sorting the list and type casting into tuple
my_Tuple1 = tuple(List1)
my_Tuple1

(2, 4, 10, 43, 67, 80, 89)

# 3 Write aprogram to implement the following using list

In [69]:
list_integers = [2,3,5,6,7,9,8,4,1,10] #created a list with minimum Ten Integers
list_integers

[2, 3, 5, 6, 7, 9, 8, 4, 1, 10]

In [71]:
list_integers[-1] #last number in the list

10

In [72]:
list_integers[0:4] # for display 0 to 4 indexing values in list

[2, 3, 5, 6]

In [73]:
list_integers[2:] # for display 2 to end of the indexing values in list

[5, 6, 7, 9, 8, 4, 1, 10]

In [74]:
list_integers[:6] # defaulty it took 0 to 6 of the indexing values in list

[2, 3, 5, 6, 7, 9]

# 4 write a python program for tuple

In [78]:

t0=(10,50,20,40,30) #As mention to create a tuple by using this values
t0

(10, 50, 20, 40, 30)

In [79]:
t0[:2] #To display 10 and 50 from tuple

(10, 50)

In [80]:
len(t0) #To display length

5

In [81]:
min(t0) #To display minimum values

10

In [82]:
sum(t0) #to sum of all elements in the tuple

150

In [83]:
t0*2 #to displaythe same tuple multiple times

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5 write a python program

In [84]:
st = 'prakash' #creating the string value
st

'prakash'

In [85]:
len(st) #length of string

7

In [90]:
st[::-1] #reverse the string

'hsakarp'

In [97]:
st*2 #multiple time of string

'prakashprakash'

In [101]:
st2 = 'nani' #concatenation of two strings
st1 = st + st2 
st1

'prakashnani'

In [102]:
Str1 = "South India" #using slicing to display india
Str1[6:]

'India'

# 6 perform the following

In [105]:
dic = {'f_name':'prakash','l_name':'nani','age':'22'} #creating the dictionary
dic

{'f_name': 'prakash', 'l_name': 'nani', 'age': '22'}

In [106]:
dic.values() #Accessing the values

dict_values(['prakash', 'nani', '22'])

In [107]:
dic.update({'age':'23'}) #Updating the dictionary file
dic

{'f_name': 'prakash', 'l_name': 'nani', 'age': '23'}

In [124]:
dic.clear()
dic

{}

# 7 Python program to insert a number to any position in the list

In [128]:
List_name = [20,6,80,65,45,3,89,3,2,5,6,78] 
List_name.insert(2,35) #By using insert method i added 35 in the 2 index number
List_name

[20, 6, 35, 80, 65, 45, 3, 89, 3, 2, 5, 6, 78]

# 8 python program to delete an element from list by index

In [131]:
Listname = [25,9,6,5,4,7,8,23,2,4,6] #creating list 
Listname.remove(6) # the number six was deleted in the index
Listname

[25, 9, 5, 4, 7, 8, 23, 2, 4, 6]

# 9 write a program to display 1 to 100

In [136]:
n=1
while n <= 100:
    print(n,end=" ")
    n = n + 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10 write a program to print sum of all iteams in tuple

In [138]:
tup = (10,70,5,4,7,8) #sum of all values in the tuple
sum(tup)

104

# 11 creating dictionary containing three lambda functions square, cube and square root

In [162]:
s=int(input("Enter the Square value"))
c=int(input("Enter the cube value"))
sq=int(input("Enter the Square Root"))
dict1={'Square':s,'Cube':c,'SquareRoot':sq}

Enter the Square value20
Enter the cube value5
Enter the Square Root4

In [163]:
dict1 #the input values are stored

{'Square': 20, 'Cube': 5, 'SquareRoot': 4}

In [164]:
print(sum(dict1.values())) #sum of all the thre lambda function

29

# 12 A list of words is given find words from the list that have their second character in upper case

In [172]:
ls = ['hello','Dear','hOw','ARe','You'] #find out second character capital letter
ls1=[]
for i in ls:
    
    if i[1].isupper():
        ls1.append(i)
ls1

['hOw', 'ARe']

In [10]:
13

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

   # Control Structures

# 1 write a program to find first N prim numbers

In [183]:
i = 1
x = int(input("Enter the number:"))
for k in range(1, x+1):
    c = 0
    for j in range(1, i+1):
        a = i % j
        if a == 0:
            c = c + 1

    if c == 2:
        print(i)
    else:
        k = k - 1

    i = i + 1

Enter the number:10
2
3
5
7

# 2 write the python code that calculates the salary of an employee

In [184]:
sa = int(input("Enter the SA"))
hra = int(input("Enter the HRA"))
ta = int(input("Enter the TA"))
da = int(input("Enter the DA"))
Gross_salary=sa+hra+ta+da
deduct = 0.1 * Gross_salary
total_salary = Gross_salary - deduct
total_salary

Enter the SA30000
Enter the HRA500
Enter the TA1000
Enter the DA500

28800.0

# 3 write a python program to search for string in the given list

In [191]:
List_one = ['prakash','nani','surya','king','pawan']
n = input("enter the name")
for i in List_one:
    if(i == n):
        print("The name Matched")
        break
    else:
        print("The name wa not matched")

enter the nameprakash
The name Matched

# 4 write a python function that accepts a string and calculates the number of upper case-case letters and lower-case letters

In [18]:
n='prAksh'
upp=0
low=0
for i in n:
    if i.isupper():
        upp=upp+1
    else:
        low=low+1
print(upp)
print(low)

1
5

# 5 Program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [199]:
n=0
m=0
for i in range(12,38):
    if(i%2==0):
        n=n+i
print("The sum of even numbers {}".format(n))
for j in range(12,38):
    if(j%2!=0):
        m=m+j
print("The sum of odd numbers {}".format(m))

The sum of even numbers 312
The sum of odd numbers 325

# 6 write a program to print a table

In [203]:
n=2
m=0
for i in range(1,11):
    m=n*i
    print("{} * {} = {}".format(n,i,m))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# 7 write a program to sum the first 10 prime numbers

In [204]:
i = 1
m=0
x = int(input("Enter the number:"))
for k in range(1, x+1):
    c = 0
    for j in range(1, i+1):
        a = i % j
        if a == 0:
            c = c + 1

    if c == 2:
       
        print(i)
    else:
        k = k - 1

    i = i + 1

Enter the number:10
2
3
5
7

# 8 python program to implement arithmetic operations using nested if statement

In [14]:
S1= int (input("Enter the 1st number: "))
S2= int(input("Enter the 2nd number: "))
opr= input("Enter the Operation: ")
if opr == 'Addition':
    print(S1+S2)
elif opr == 'Subtraction':
    print(S1 - S2)
elif opr == 'Multiplication':
    print(S1*S2)
else:
    print(S1/S2)

Enter the 1st number: 12
Enter the 2nd number: 10
Enter the Operation: Subtraction
2

# 9 python program to take the temperature in celsius and convert it to a fahrenheat

In [15]:
c=float(input("Enter the Celsius Value: "))
f= (c * 1.8) +32
print('{} Celsius equals to {} Fahrenhit'.format(c,f))

Enter the Celsius Value: 25
25.0 Celsius equals to 77.0 Fahrenhit

# 10 write a python program to print maximum and minimum in a list without inbuilt function

In [34]:
m_l=0
max_l=0
lst_t = [20,52,2,4,6,7,8,9,2]
for i in lst_t:
    if i > max_l:
        max_l=i
    elif i < m_l:
        m_l = i
        
print("The MAx of Number in the list is {}".format(m_l))
print("The MIn of Number in the list is {}".format(max_l))

The MAx of Number in the list is 0
The MIn of Number in the list is 52

# 11 write a python program to print out the number of second in 30-day month 30 days,24 hours

In [42]:
num_month=30
no_hoursaday=24
nof_secondsinday=no_hoursaday*60*60
nof_secondsinayear=nof_secondsinday * num_month
print('The no of seconds in a month {}'.format(nof_secondsinayear))

The no of seconds in a year 2592000

# 12 write a python program to print out the number of seconds in year

In [43]:
nof_daysina_year=365
nof_daysina_leapyear=366
noof_hoursinaday=24
nofsecinaday=noof_hoursinaday*60*60
nofsecina_year=nof_daysina_year * nofsecinaday
print('The no of second in a year {}'.format(nofsecina_year))

The no of second in a year 31536000

# 13 A high Speed Train Can travel

In [26]:
Avg_speed=200
Avg_dist=400
Avg_tim=Avg_speed / Avg_dist

print(Avg_tim)

0.5

# 14 python program to print a define variables

In [27]:
days=192
tm=0
for i in range(7,12):
    tm=tm+(192*6)
    print("total hours :",tm)

total hours : 1152
total hours : 2304
total hours : 3456
total hours : 4608
total hours : 5760

# 15 if age of ram sam and khan are input throught the keyboard write a python program to determine the elder and youngest of the thre

In [36]:
r= int(input("Enter the Age of Ram :"))
s= int(input("Enter the Age of Sam :"))
k = int(input("Enter the Age of khan :"))

if(r < s and r <k):
    print("The Youngest Age is Ram")
    
elif(s<r and s<k):
    print("The Youngest Age is Sam")
    
else:
    print("The Youngest Age is Khan")
    
if(r > s and r >k):
    print("The Eldest Age is Ram")
    
elif(s>r and s>k):
    print("The Edlest Age is Sam")
    
else:
    print("The Edlest Age is Khan")

Enter the Age of Ram :2
Enter the Age of Sam :5
Enter the Age of khan :4
The Youngest Age is Ram
The Edlest Age is Sam

# 16 write a python program to rotate a list by right n times with and witout slicing technique

# 17 print a pattern

In [9]:
n=int(input("enter number "))
for i in range(1,n+1):
    print("*"*i)

enter number 5
*
**
***
****
*****

In [24]:
str="PYTHON"
p=len(str)
for i in range(0,p):
    print()
    for j in range(0,i+1):
        print(str[j],end=' ')

P
P Y
P Y T
P Y T H
P Y T H O
P Y T H O N

In [35]:

N = 5


for i in range(1,N+1):


    for k in range(N,i,-1):


        print(" ",end=' ')


    for j in range(1,i+1):


        print('*', end=' ')


    for l in range(i-1,0,-1):  


        print('*',end=' ')  


    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *