# Data base programming

# Implement inventory management in python with MYSQL

In [88]:
import mysql.connector


conn = mysql.connector.connect(host="127.0.0.1", user="root", password="Surya@4D5", database="inventory")
cur = conn.cursor()


proj_table = '''CREATE TABLE purchases(product_id INT, purchases_date VARCHAR(30), product_value INT, quantity INT)'''

cur.execute("INSERT INTO purchases(product_id, purchases_date, product_value, quantity) VALUES (1, '30Aug2023', 24, 50)")


sal_table = '''CREATE TABLE Sales(Sales_Id INT AUTO_INCREMENT PRIMARY KEY, sale_date VARCHAR(30), product_id INT, quantity INT, total_amount INT)'''


cur.execute("INSERT INTO Sales(sale_date, product_id, quantity, total_amount) VALUES('20MAY2023', 24, 50, 400)")


inv_table = '''CREATE TABLE Inventory(Product_Id INT, Product_name VARCHAR(100), quantity_avail INT, units DECIMAL(20, 2))'''


cur.execute("INSERT INTO Inventory(Product_Id, Product_name, quantity_avail, units) VALUES (7, '20-12-2023', 29, 50.00)")


conn.commit()

cur.execute("select * from Inventory")
#result = cur.fetchall()
for i in cur:
    print(i)

(2, '20-12-2023', 29, Decimal('50.00'))
(5, '20-12-2023', 29, Decimal('50.00'))
(6, '20-12-2023', 29, Decimal('50.00'))
(7, '20-12-2023', 29, Decimal('50.00'))

# 2 Customer Order Processing

Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.

2. Write a Python program that connects to the database and allows customers to place new orders.

3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department

In [ ]:
import mysql.connector

conn = mysql.connector.connect(host="127.0.0.1", user="root", password="Surya@4D5", database="order_processing")
curr = conn.cursor()
#customer_id=int(input("Enter the values"))
#product_id=int(input("Enter the values"))
#quantity_avail=int(input("Enter the values"))

def orders_places(customer_id, product_id, quantity_avail):
    order_id=2
    
    curr.execute("select quantity from products where product_id = %s", (product_id,))
    quantity = curr.fetchone()[0]
    if quantity >= quantity_avail:
        curr.execute("select price from products where product_id = %s", (product_id,))
        price = curr.fetchone()[0]
        total_price = price * quantity_avail
        
        

        curr.execute("insert into orders (customer_id, order_date, status) values (%s, %s, %s)", (customer_id, order_id, 'pending'))

        order_id = curr.lastrowid

        curr.execute("insert into customer_orders (customer_order_id, order_id, product_id, quantity_ordered, total_price) values (%s, %s, %s, %s, %s)",
                     (None, order_id, product_id, quantity_avail, total_price))

        latest_quantity = quantity - quantity_avail
        curr.execute("update products set quantity = %s where product_id = %s", (latest_quantity, product_id))

        conn.commit()
        conn.close()
        print("Order placed successfully")

orders_places(1, 1, 2)

# 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

# . Assume that you have a MySQL database server running with the following details:

i. Host: localhost

ii. Port: 3306

iii. Username: your_username

iv. Password: your_password

v. Database Name: your_database

vi. Table Name: your_table

vii. The table has the following columns: id (int), name (varchar), quantity (int).

2. Your Python program should:

i. Connect to the MySQL database.

ii. Retrieve all records from the your_table table.

iii. Calculate the total quantity of all records retrieved.

iv. Update the quantity column of each record by doubling its value.

v. Commit the changes to the database.

vi. Jose the database connection. Jose

3. Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors.

4. Provide comments in your code to explain each step.

In [16]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                             password='Surya@4D5',
                             host='127.0.0.1',
                             database='prakash'
                            )
print(conn)


curs=conn.cursor()

curs.execute("Create table List(id int primary key auto_increment , name varchar(100),quantity int)")

curs.execute("show tables")
for i in curs:
    print(i)


inserting_l="insert into List(name,quantity) values(%s, %s)"
inserting_info=[('Laptop', 50), ('Mobile',30), ('Tab',10)]

curs.executemany(inserting_l,inserting_info)


print(curs.rowcount," rows inserted into the table")



selecting_l="select id,name,quantity from List"
curs.execute(selecting_l)

count=curs.fetchall()

quantity_t=sum(i[2] for i in count)

updating_l="update List set quantity = quantity*2"

curs.execute(updating_l)

conn.commit()


curs.execute("select * from List")
for i in curs:
    print(i)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001BD57BC3890>
('books',)
('courses',)
('courses2',)
('departments',)
('employees',)
('inventory',)
('jobs',)
('list',)
('locations',)
('pastries',)
('people',)
('purchases',)
('sales',)
('student',)
3  rows inserted into the table
(1, 'Laptop', 100)
(2, 'Mobile', 60)
(3, 'Tab', 20)

# 4 your dev a employee management system for a company the databse should store employee information including name and salary department and hire date

In [14]:
import mysql.connector

conn = mysql.connector.connect(host="127.0.0.1", user="root", password="Surya@4D5", database="employee_management")
curr = conn.cursor()
#create_table = '''CREATE TABLE employee_details(Employee_Id int PRIMARY KEY, Employee_name varchar(50), Employee_salary BIGINT, Hire_Date varchar(200))'''
current_table = "INSERT INTO employee_details (Employee_Id, Employee_name, Employee_salary, Hire_Date) VALUES (%s, %s, %s, %s)"
data = [
    (2571, 'Prakash Nani', 40000, '16-AUG-2023'),
    (2572, 'Sravan Kumar', 40000, '16-AUG-2023'),
    (2573, 'Sri Ram', 40000, '16-AUG-2023'),
    (2574, 'Surya', 40000, '16-AUG-2023')
]

curr.executemany(current_table, data)
result=curr.fetchall()
for i in result:
    print(i)
    
    
conn.commit()

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [ ]:
curr.executemany(current_table, data)
result=curr.fetchall()
for i in result:
    print(i)

In [ ]:
def get_employee_by_id(employee_id):
    select_query = "SELECT * FROM employee_details WHERE Employee_Id = %s"
    curr.execute(select_query, (employee_id,))
    return curr.fetchall()

In [ ]:
def update_salary(employee_id, salary):
    update_query = "UPDATE employee_details SET Employee_salary = %s WHERE Employee_Id = %s"
    curr.execute(update_query, (salary, employee_id))
    conn.commit()

In [15]:
employee_id = 257
new_salary = 45000

curr.execute('select * from employee_details')
r=curr.fetchall()
for i in r:
    print(i)

(25752, 'Prakash Nani', 40000, '16-AUG-2023')
(25753, 'Sravan Kumar', 40000, '16-AUG-2023')
(25754, 'Sri Ram', 40000, '16-AUG-2023')
(25755, 'Surya', 40000, '16-AUG-2023')
(25756, 'Prakash Nani', 40000, '16-AUG-2023')
(25757, 'Sravan Kumar', 40000, '16-AUG-2023')
(25758, 'Sri Ram', 40000, '16-AUG-2023')
(25759, 'Surya', 40000, '16-AUG-2023')
(257510, 'Prakash Nani', 40000, '16-AUG-2023')
(257517, 'Sravan Kumar', 40000, '16-AUG-2023')
(257518, 'Sri Ram', 40000, '16-AUG-2023')
(257519, 'Surya', 40000, '16-AUG-2023')

# modules and virtual environments

# 1 Module Import and Management Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.

Design a Python program that demonstrates the following:

1. Import multiple modules within your project.

2. Use the import statement to access functions, classes, and variables from imported modules.

3. Create your custom module and use it in your main program.

4. Handle naming conflicts and ensure proper namespacing. 5. Implement error handling for missing modules or incorrect module usage.

In [19]:
from py_module import custom_function, CustomClass

In [32]:
custom_function()

'This is a custom function from py_module.py'

In [15]:
def custom_function():
    return "This is a custom function from py_module.py"


custom_variable = "This is a custom variable from py_module.py"


class CustomClass:
    def __init__(self):
        self.message = "This is an instance of CustomClass from project_module.py"

    def custom_method(self):
        return "This is a custom method in CustomClass"

In [ ]:

import math
import random
import py_module


square_root = math.sqrt(25)
random_number = random.randint(1, 10)


custom_result = py_module.custom_function()
custom_variable_value = py_module.custom_variable
custom_instance = py_module.CustomClass()


print(f"Square root of 25: {square_root}")
print(f"Random number between 1 and 10: {random_number}")
print(f"Custom function result: {custom_result}")
print(f"Custom variable value: {custom_variable_value}")
print(f"Custom class message: {custom_instance.message}")
print(f"Custom class method result: {custom_instance.custom_method()}")

# 2 modules import and management
design a python program that demonstrates the folloing

In [ ]:
import subprocess
import sys
import os

def create_prakash_nani_env(env_name):
    try:
        subprocess.run([sys.executable, '-m', 'venv', env_name])
        print(f"Virtual environment '{env_name}' created successfully.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to create the virtual environment. {e}")

def activate_prakash_nani_env(env_name):
    try:
        activate_script = os.path.join(env_name, 'Scripts' if os.name == 'nt' else 'bin', 'activate')
        subprocess.run([activate_script], shell=True)
        print(f"Activated virtual environment '{env_name}'.")
    except FileNotFoundError:
        print(f"Error: Virtual environment '{env_name}' not found.")

def deactivate_prakash_nani_env():
    try:
        subprocess.run(['deactivate'], shell=True)
        print("Deactivated the virtual environment.")
    except subprocess.CalledProcessError as e:
         print(f"Error: Failed to deactivate the virtual environment. {e}")

def install_package(env_name, package_name):
    try:
         subprocess.run([f'{env_name}/bin/pip', 'install', package_name])
            print(f"Installed '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to install the package. {e}")

def upgrade_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', '--upgrade', package_name])
        print(f"Upgraded '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to upgrade the package. {e}")

def uninstall_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'uninstall', '-y', package_name])
        print(f"Uninstalled '{package_name}' from '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to uninstall the package. {e}")

def list_installed_packages(env_name):
    try:
        result = subprocess.run([f'{env_name}/bin/pip', 'list'], capture_output=True, text=True)
        print(f"Installed packages in '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to list installed packages. {e}")

env_name = "prakash_nani_env"
package_name = "numpy"

create_prakash_nani_env(env_name)
activate_prakash_nani_env(env_name)
install_package(env_name, package_name)
list_installed_packages(env_name)
upgrade_package(env_name, package_name)
list_installed_packages(env_name)
uninstall_package(env_name, package_name)
list_installed_packages(env_name)

# 3 virtual environment management

In [2]:
import subprocess

def dep_install():
    try:
        subprocess.run(['pip', 'install', '-r', 'requirements.txt'])
        print("All dependencies installed successfully.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to install dependencies. {e}")


    dep_install()

In [ ]:
numpy==1.18.5
pandas==1.3.3
requests==2.26.0