In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import csv
import math

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebooks.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1 how many movies are listed in the titles dataframe

In [39]:
import pandas as pd

movie_count = dataframes['titles.csv'].shape[0]
print(movie_count)

244914

# 2: What are the earliest two films listed in the titles dataframe?

In [27]:
dataframes['titles.csv'].sort_values(['year']).iloc[0:2]

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3: How many movies have the title "Hamlet"?

In [29]:
len(np.where(dataframes['titles.csv']['title'] == 'Hamlet')[0])

20

# 4: How many movies are titled "North by Northwest"

In [34]:
len(np.where(dataframes['titles.csv']['title'] == 'North by Northwest'))

1

# 5: When was the first movie titled "Hamlet" made

In [35]:
dataframes['titles.csv'].loc[(dataframes['titles.csv']['title'] == 'Hamlet'), 'year'].sort_values().iloc[0]

1910

# 6: List all of the "Treasure Island" movies from earliest to most recent

In [41]:
dataframes['titles.csv'].loc[(dataframes['titles.csv']['title']=='Treasure Island'), 'year'].sort_values()

55686     1918
196514    1920
141822    1934
77354     1950
65051     1972
37238     1973
173051    1985
27076     1999
Name: year, dtype: int64

# 7. How many movies were made in the year 1950

In [42]:
dataframes['titles.csv'].loc[(dataframes['titles.csv']['year']==1950), 'year'].count()

1113

# 8. How many movies were made from 1950 through 1959

In [46]:
dataframes['titles.csv'].loc[(dataframes['titles.csv']['year']>=1950) & (dataframes['titles.csv']['year'] <=1959), 'year'].count()

12934

# 9. In what years has a movie titled "Batman" been released

In [52]:
dataframes['titles.csv'].loc[(dataframes['titles.csv']['title'] == 'Batman'), 'year'].unique()

array([1943, 1989], dtype=int64)

# 10. How many roles were there in the movie "Inception"

In [53]:
dataframes['cast.csv'].loc[(dataframes['cast.csv']['title']=='Inception'), 'character'].count()

78

# 11. How many roles in the movie "Inception" are NOT ranked by an "n" value

# 12. But how many roles in the movie "Inception" did receive an "n" value

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import csv
import math
cast=pd.read_csv("cast.csv")

inception_cast = cast[(cast['title'] == 'Inception') & (cast['n'].isna())]
number_of_roles_in_inception_with_n_value = len(inception_cast)
print("Number of roles in the movie 'Inception' with an 'n' value:", number_of_roles_in_inception_with_n_value)

Number of roles in the movie 'Inception' with an 'n' value: 27

# 13. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value

In [83]:
inception_cast_with_n = cast[(cast['title'] == 'Inception') & (~cast['n'].
isna())]
number_of_roles_in_inception_with_n_value = len(inception_cast_with_n)
print("Number of roles in the movie 'Inception' with an 'n' value:",
number_of_roles_in_inception_with_n_value)

Number of roles in the movie 'Inception' with an 'n' value: 51

# 14 . Display the entire cast, in "n"-order, of the 1972 film "Sleuth"

In [85]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') &
(cast['n'].notna())]
north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast_sorted[['n','name']])

            n                  name
871426    1.0            Cary Grant
3518333   2.0       Eva Marie Saint
1457165   3.0           James Mason
3157232   4.0   Jessie Royce Landis
356707    5.0        Leo G. Carroll
3048272   6.0  Josephine Hutchinson
1695173   7.0           Philip Ober
1275337   8.0         Martin Landau
2447081   9.0         Adam Williams
1811387  10.0          Edward Platt
665768   11.0     Robert Ellenstein
2295714  12.0          Les Tremayne
464736   13.0       Philip Coolidge
1508344  14.0         Patrick McVey
206471   15.0          Edward Binns
1384780  16.0             Ken Lynch

C:\Users\Prakash Nani\AppData\Local\Temp\ipykernel_12844\145714794.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])

# 15. Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [87]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['n'].notna())]
sleuth_1972_cast['n'] = pd.to_numeric(sleuth_1972_cast['n'])
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast_sorted[['n','name']])

           n                name
326774   1.0       Michael Caine
1705394  1.0    Laurence Olivier
326773   2.0       Michael Caine
1293634  2.0            Jude Law
373876   3.0      Alec Cawthorne
1805907  3.0       Harold Pinter
1465483  4.0  John (II) Matthews
2724553  5.0  Eve (III) Channing
1448690  6.0        Teddy Martin

C:\Users\Prakash Nani\AppData\Local\Temp\ipykernel_12844\4170791345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleuth_1972_cast['n'] = pd.to_numeric(sleuth_1972_cast['n'])

# 16. How many roles were credited in the silent 1921 version of Hamlet

In [88]:
import pandas as pd
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['n'].notna()) & (cast['year'] == 2007)]
sleuth_2007_cast['n'] = pd.to_numeric(sleuth_2007_cast['n'])
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print(sleuth_2007_cast_sorted[['n','name']])

           n           name
326774   1.0  Michael Caine
1293634  2.0       Jude Law
1805907  3.0  Harold Pinter

C:\Users\Prakash Nani\AppData\Local\Temp\ipykernel_12844\1729215678.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleuth_2007_cast['n'] = pd.to_numeric(sleuth_2007_cast['n'])

# 17. How many roles were credited in Branagh's 1996 Hamlet

In [89]:
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
number_of_roles_in_hamlet_1921 = len(hamlet_1921_cast['character'].unique())
print("Number of credited roles in the silent 1921 version of 'Hamlet':",number_of_roles_in_hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

# 18. How many "Hamlet" roles have been listed in all film credits through history

In [90]:
branagh_hamlet_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]
number_of_roles_in_branagh_hamlet = len(branagh_hamlet_cast['character'].unique())
print("Number of credited roles in Branagh's 1996 version of 'Hamlet':",number_of_roles_in_branagh_hamlet)

Number of credited roles in Branagh's 1996 version of 'Hamlet': 49

# 19. How many people have played an "Ophelia"

In [91]:
hamlet_roles = cast[cast['title'] == 'Hamlet']
number_of_hamlet_roles = len(hamlet_roles['character'].unique())
print("Number of 'Hamlet' roles listed in all film credits through history:",number_of_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 112

# 20. How many people have played a role called "The Dude"

In [92]:
ophelia_actors = cast[cast['character'] == 'Ophelia']
number_of_ophelia_actors = len(ophelia_actors['name'].unique())
print("Number of people who have played the role of 'Ophelia':",number_of_ophelia_actors)

Number of people who have played the role of 'Ophelia': 115

# 21. How many people have played a role called "The Stranger"

In [93]:
the_dude_actors = cast[cast['character'] == 'The Dude']
number_of_the_dude_actors = len(the_dude_actors['name'].unique())
print("Number of people who have played the role of 'The Dude':",number_of_the_dude_actors)

Number of people who have played the role of 'The Dude': 19

# 22. How many roles has Sidney Poitier played throughout his career

In [94]:
the_stranger_actors = cast[cast['character'] == 'The Stranger']
number_of_the_stranger_actors = len(the_stranger_actors['name'].unique())
print("Number of people who have played the role of 'The Stranger':",number_of_the_stranger_actors)

Number of people who have played the role of 'The Stranger': 202

# 23. How many roles has Judi Dench played

In [96]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']
number_of_roles_by_sidney_poitier = len(sidney_poitier_roles['character'].unique())
print("Number of roles played by Sidney Poitier throughout his career:",number_of_roles_by_sidney_poitier)

Number of roles played by Sidney Poitier throughout his career: 41

# 24. List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year

In [97]:
import pandas as pd
judi_dench_roles = cast[cast['name'] == 'Judi Dench']
number_of_roles_by_judi_dench = len(judi_dench_roles['character'].unique())
print("Number of roles played by Judi Dench throughout her career:",number_of_roles_by_judi_dench)

Number of roles played by Judi Dench throughout her career: 46

# 25. List the leading roles that Cary Grant played in the 1940s in order by year

In [100]:
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') &(cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')
print(cary_grant_supporting_roles_1940s_sorted[['year','character']])

        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

# 26. How many roles were available for actors in the 1950s

In [102]:
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') &(cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')
print(cary_grant_leading_roles_1940s_sorted[['year','character']])

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

# 27. How many roles were available for actresses in the 1950s

In [103]:
roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]
number_of_roles_in_1950s = len(roles_in_1950s['character'].unique())
print("Number of roles available for actors in the 1950s:",number_of_roles_in_1950s)

Number of roles available for actors in the 1950s: 128233

# 28. How many leading roles (n=1) were available from the beginning of film history through 1980

In [104]:
actress_roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) &(cast['type'] == 'actress')]
num_actress_roles_1950s = len(actress_roles_1950s)
print(num_actress_roles_1950s)

57733

# 29. How many non-leading roles were available through from the beginning of film history through 1980

In [105]:
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]
number_of_leading_roles_until_1980 = len(leading_roles_until_1980)
print("Number of leading roles (n=1) available from the beginning of film history through 1980:", number_of_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

# 30. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank

In [106]:
import pandas as pd
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]
number_of_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)
print("Number of non-leading roles available from the beginning of film history through 1980:", number_of_non_leading_roles_until_1980)

Number of non-leading roles available from the beginning of film history through 1980: 1117667

# 31 how many roles through 1980 were minor enough that they did not warrant a numeric "n" rank

In [107]:
import numpy as np
minor_roles_until_1980 = cast[(cast['year'] <= 1980) & (cast['n'].isna())]
number_of_minor_roles_until_1980 = len(minor_roles_until_1980)
print("Number of roles through 1980 that did not warrant a numeric 'n' rank:",number_of_minor_roles_until_1980)

Number of roles through 1980 that did not warrant a numeric 'n' rank: 448347