In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [3]:
df = pd.read_csv('realtor-data.csv')
df

        bed  bathroom  house_size     price  acre_lot
0       3.0       2.0       920.0  105000.0      0.12
1       4.0       2.0      1527.0   80000.0      0.08
2       2.0       1.0       748.0   67000.0      0.15
3       4.0       2.0      1800.0  145000.0      0.10
4       6.0       2.0         NaN   65000.0      0.05
...     ...       ...         ...       ...       ...
904961  2.0       2.0         NaN  359000.0       NaN
904962  2.0       2.0      1200.0  299000.0       NaN
904963  NaN       1.0         NaN  120000.0       NaN
904964  3.0       2.0         NaN  449000.0       NaN
904965  3.0       3.0      1677.0  850000.0       NaN

[904966 rows x 5 columns]

In [5]:
df = df.fillna(method='bfill')
df.isna().sum()

bed            0
bathroom       0
house_size     0
price          0
acre_lot      25
dtype: int64

In [8]:
x=df.iloc[:,0:3]
x

        bed  bathroom  house_size
0       3.0       2.0       920.0
1       4.0       2.0      1527.0
2       2.0       1.0       748.0
3       4.0       2.0      1800.0
4       6.0       2.0      2520.0
...     ...       ...         ...
904961  2.0       2.0      1200.0
904962  2.0       2.0      1200.0
904963  3.0       1.0      1677.0
904964  3.0       2.0      1677.0
904965  3.0       3.0      1677.0

[904966 rows x 3 columns]

In [10]:
y=df.iloc[:,3:4]
y

           price
0       105000.0
1        80000.0
2        67000.0
3       145000.0
4        65000.0
...          ...
904961  359000.0
904962  299000.0
904963  120000.0
904964  449000.0
904965  850000.0

[904966 rows x 1 columns]

In [23]:
import sklearn
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=42)

In [13]:
xtrain.shape

(678724, 3)

In [24]:
base_reg = LinearRegression()
base_reg.fit(xtrain,ytrain)
base_pred = base_reg.predict(xtest)
from sklearn.metrics import r2_score
print("R-square\t",r2_score(ytest,base_pred))

R-square	 0.12116517817320438

In [27]:
print("*************Lasso Regression Model*************")
print()
lr=Lasso(alpha=0.01)
lr.fit(xtrain,ytrain)
lr_pred=lr.predict(xtest)
print("Lasso Train_score:\t", lr.score(xtrain,ytrain))
print()
print("Lasso Test_score:\t", lr.score(xtest,ytest))
print()
print("Lasso R-Square:\t",r2_score(ytest,lr_pred))

*************Lasso Regression Model*************

Lasso Train_score:	 0.057999105258296546

Lasso Test_score:	 0.12116148595412646

Lasso R-Square:	 0.12116148595412646

In [28]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('Mean Squared Error: \t', mean_squared_error(ytest, lr_pred))
print()
print('RMSE: \t', np.sqrt(mean_squared_error(ytest, lr_pred)))
print()
print("Mean Absolute Error: \t",mean_absolute_error(ytest,lr_pred))

Mean Squared Error: 	 3081069612544.8306

RMSE: 	 1755297.585181735

Mean Absolute Error: 	 662299.8734708364

In [30]:
rr=Ridge(alpha=0.01)
rr.fit(xtrain,ytrain)
rr_pred=rr.predict(xtest)
print("Lasso Train_score:\t", rr.score(xtrain,ytrain))
print()
print("Lasso Test_score:\t", rr.score(xtest,ytest))
print()
print("Lasso R-Square:\t",r2_score(ytest,rr_pred))

Lasso Train_score:	 0.05799910764377847

Lasso Test_score:	 0.12116517797412607

Lasso R-Square:	 0.12116517797412607

In [31]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('Mean Squared Error: \t', mean_squared_error(ytest, rr_pred))
print()
print('RMSE: \t', np.sqrt(mean_squared_error(ytest, rr_pred)))
print()
print("Mean Absolute Error: \t",mean_absolute_error(ytest,rr_pred))

Mean Squared Error: 	 3081056668903.3677

RMSE: 	 1755293.8981559093

Mean Absolute Error: 	 662300.0993082353